html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('Imagenes/images.jpeg');
  background-size: cover;        /* Hace que la imagen se escale para cubrir toda la pantalla */
  background-repeat: no-repeat;  /* Evita que se repita */
  background-position: center;   /* Centra la imagen */
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: black;
}
    .logo {
      margin-top: 110px;
    }

    .logo img {
      width: 180px;
      border-radius: 40px;
    }

    h1 {
      font-size: 58px;
      margin-top: 20px;
      font-weight: bold;
        color: white;
        font-style: italic;
    }

    .botones {
      margin-top: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      font-size: 20px;
    }

    .boton {
      width: 200px;
      padding: 15px;
      border-radius: 30px;
      background-color: rgba(255, 87, 34, 0.8);
      color: white;
      font-weight: bold;
      font-size: 10px;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .boton:hover {
      background-color: rgba(255, 50, 0, 1);
      transform: scale(1.05);
    }

.footer {
    font-size: 30px;
    color: rgb(250, 250, 250);
    margin: 50px 0 20px 0;
    font-style: italic;
}

    @media screen and (max-width: 768px) {
      h1 {
        font-size: 36px;
      }

      .boton {
        width: 150px;
        font-size: 12px;
      }

      .footer {
        font-size: 18px;
      }
    }